.container{
    width: auto;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sucesso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sucesso h1{
    
}

.sucesso img{
    width: 200px;
    height: auto;
}

.sucesso button{
    padding: 5px;
}